<section id="intro-portfolio">
  <div class="intro-portfolio-content">
    <h1 class="intro-portfolio-title">Showcase</h1>
  </div>
  {{#scroll-to href='.projects.1' duration=1000 easing='linear' offset=0}}
    <a class="arrow-wrap">
      <span class="arrow-icon"></span>
    </a>
  {{/scroll-to}}
</section>

{{#each model as |p|}}

  <section class="projects {{p.id}}">

    <div class="projects-left">

      <div class="projects-content">
        <div class="projects-title-box">
          <h1 class="projects-title">
            {{p.title}}
          </h1>
        </div>

        <br>

        <div class="projects-description-box">
          <p class="projects-description">
            {{p.description}}
          </p>
        </div>

        <br>

        <div class="projects-tech-box">
          <div>
            <h3>Tehnologies Used:</h3>
          </div>
          <div>
            <ul class="projects-tech-list">
              {{#each p.technologies as |t|}}
              <li class="ui basic label">
                {{t}}
              </li>
              {{/each}}
            </ul>
          </div>
        </div>

        <br>

        <div class="projects-features-box">
          <div>
            <h3>Features:</h3>
          </div>
          <br>
          <div class="projects-features-list-box">
            <ol class="projects-features-list ui list">
              {{#each p.features as |f|}}
                <li value="*">
                  {{f}}
                </li>
              {{/each}}
            </ol>
          </div>
        </div>

        <br>
        <br>

        {{!-- Button for go to the website --}}
        <a
          href={{p.url}}
          class="ui massive animated black button"
          tabindex="0"
          target="_blank"
        >
          <div class="visible content">Full Project</div>
          <div class="hidden content white">
            <i class="right arrow icon"></i>
          </div>
        </a>

        {{!-- END --}}

      </div>

    </div>

    <div class="projects-right">

      <div class="accordion">
        <ul>
          {{#each p.images as |image|}}
            <li>
              {{light-box
                href=image
                data-lightbox=image
                data-title=p.title
                data-class="projects-img"
              }}
            </li>
          {{/each}}
        </ul>
      </div>

    </div>
  </section>
  {{#if (not-eq p.id 3)}}
    <div class="ui horizontal divider portfolio-divider">
      {{#scroll-to href=(concat '.projects.' (addOneId p.id)) duration=1000 easing='linear' offset=0}}
        <i class="chevron down icon portfolio-chevron" style="font-size: 3rem"/>
      {{/scroll-to}}
    </div>
  {{/if}}
{{/each}}

{{#scroll-to href="#intro-portfolio" class="back-to-top"}}
  <i class="icon arrow circle outline up" />
{{/scroll-to}}
